/*global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "BungeeShade";
    src: url("fonts/BungeeShade-Regular.ttf");
}
@font-face {
    font-family: "Anton";
    src: url("fonts/Anton-Regular.ttf");
}
@font-face {
    font-family: "src-code-pro";
    src: url("fonts/SourceCodePro-SemiBold.ttf");
}
html{
    font-size:10px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

body{
    overflow-y: scroll;
    overflow-x:hidden;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-size: cover;
    color: black;
}
body::-webkit-scrollbar {
    display: none;
}
.animation-area{
    width: 100%;
    height: auto;
}

.tab {
    position: -webkit-sticky;
  position: sticky;
  top: 0;
    margin-top: 8rem;
    align-content: center;
    overflow: hidden;
    text-align: center;
    z-index: 900;
  }
  

  .tab button {
    box-shadow: 0 0 6px rgba(46, 12, 56, 0.699);
    background-color: rgb(211, 191, 236);
    margin: .6rem;
    border-radius: 4rem;
    border-width: 0rem;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    
    font-size: 2rem;
    font-family: 'src-code-pro';
    color: rgb(40, 33, 44);
  }
  

  .tab button:hover {
    background-color: rgb(174, 126, 218);
  }
  

  .tab button.active {
    background-color: rgb(90, 70, 107);
    color: white;
  }
  .tab button.scrolled {
    background-color: rgb(90, 70, 107);
    color: white;
  }

  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

.circle-area{
    z-index: -1;
    position: absolute;
    top: -4rem;
    left: 0;
    width: 100%;
    height: 110%;
    overflow: hidden;
}
.ice-mountains{
    position:absolute;
    overflow: hidden;
    bottom:-2px;
    width: 100%;
}
.circle-area li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    border-radius: 43.2%;
    animation: animate 20s linear infinite;
}
.circle-area li i{
    font-size:4rem;
    color:hsl(270, 29%, 95%) ;
}

.circle-area li:nth-child(1){
    left: 6%;
    width: 2rem;
    height: 2rem;
    animation-delay: 0s;
}
.circle-area li:nth-child(2){
    left: 20%;
    width: 8rem;
    height: 8rem;
    animation-delay: 0s;
    animation-duration: 13s;
}
.circle-area li:nth-child(3){
    left: 55%;
    width: 2rem;
    height: 2rem;
    animation-delay: 0s;
    animation-duration: 6s;
}
.circle-area li:nth-child(4){
    left: 30%;
    width: 7rem;
    height: 7rem;
    animation-delay: 5s;
}
.circle-area li:nth-child(5){
    left: 75%;
    width: 4rem;
    height: 4rem;
    animation-delay: 0s;
}

.circle-area li:nth-child(6){
    left: 90%;
    width: 5rem;
    height: 5rem;
    animation-delay: 3s;
}
section{
    margin: 7rem 0 0 0;  
}

@keyframes animate{
    0%{
        transform: translateY(0rem) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(100vh) rotate(270deg);
        opacity: 1;
    }
}
a{
    text-decoration: none;
    color: #eee;
}

p{
    font-size: 1.8rem;
    font-weight: 300;
}

img{
   width:  100%;
}

/*resusable*/
.container{
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
    justify-content: center;
}

li{
    margin: 0 2rem;
}





/*header*/
header {
    width: 100%;
    height: 100vh;
}

/* Navigation BAR */
.top-nav{
    width: 100%;
    height: 100%;
    position: fixed;
    top: -100vh;
    z-index: 1000;
    background-color: #d1d1f6;
    transition: all 650ms cubic-bezier(1,0,0,1);
}

.nav-list{
    flex-direction: column;
    width: 100%;
    list-style: none;
    height: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.nav-link{
    font-family: 'The Historia Demo', sans-serif ;
    font-size: 10rem;
    color: rgba(82, 64, 90, 0.747);
    padding:1rem;
}

.nav-link:hover,
.nav-link:focus{
    background: linear-gradient(to top, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-nav.open{
    top: 0;
    border-radius: initial;
}

/* menu toggler */

.menu-toggler{
    position:  fixed ;
    top:5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 275ms ease-out;
}

.menu-toggler.open{
    transform: rotate(-45deg);
}

.bar{
    background: #9784c0;
   /* background: linear-gradient(to right, #ffe838,#fd57bf);*/
   
    width: 100%;
    height: 4px;
    border-radius: .8rem;
}

.bar.half{
    width: 50%;
}
.bar.start{
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.open .bar.start{
    transform: rotate(-90deg) translateX(.8rem);
}
.bar.end{
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.open .bar.end{
    transform: rotate(-90deg) translateX(-.8rem);
}

/* Landing TEXT */
.landing-text{
   
    position: absolute;
    top:50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    width: 100%;
    text-align:center;
    z-index: 1;
}

.landing-text h1{
    font-size: 10rem;
    line-height: 1.6;
    font-family:"BungeeShade";
    background: linear-gradient(to top, #7445a0, #d1d1f6);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
}
.landingtwo {
    -ms-transform: skewX(70deg); /* IE 9 */
    transform: skewX(70deg);
    position: absolute;
    top:-1%;
    left: -9%;
    width: 100%;
    text-align:center;
    z-index: 1;
}

.landing-text h6{
    font-size: 6rem;
    font-weight: 300;
    margin-top: 2rem;
}


.scrolldown{
    position: absolute;
    top:90%;
    left: 50%;
    width: 2rem;
    height: 2rem;
    background: rgba(255, 255, 221, 0);
    transform: translateY(-80px) translateX(-50%)rotate(45deg);
}
.scrolldown span{
    position: absolute;
    top: 0rem;
    left: 0rem;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: .2rem solid #7445a0e0;
    border-right: .2rem solid #7445a0e0;
    animation: scroll-animat 1.5s linear infinite;
}


.scrolldown span:nth-child(1){
transform: translate(-1.6rem, -1.6rem);
animation-delay: -0.4s;
}
.scrolldown span:nth-child(2){
    transform: translate(0rem,0rem);
    animation-delay: -0.2s;
 }
 .scrolldown span:nth-child(3){
    transform: translate(1.6rem,1.6rem);
    animation-delay: 0s;
 }
 @keyframes scroll-animat {
    0%{
        top: -1.5rem;
        left: -1.5rem;
        opacity:0;
    }
    25%{
        top: 0rem;
        left: 0rem;
        opacity:1;
    }
    50%,100%{
        top: 1.5rem;
        left: 1.5rem;
        opacity:0;
    }
}
/* section headings */

.section-heading h1{
    font-size: 8rem;
    color: rgba(99, 95, 104, 0.795);
}

/*about*/

.about .container{
    margin-top: 20rem;
    display:flex;
    align-items: center;
    justify-content: center;
}
.about p{
    text-align: center;
}
.section-heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;  
}

/* skills */

.skills .container{
    margin-top: 20rem;    
}

.my-skills{
    margin-top: 15rem;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2.5rem;
    justify-content: center;

}

.skill{
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
   
}

.skill h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
    color: rgb(0, 0, 0);
}

/* .skill p{
  
    align-content: center;
    font-size: 1.4rem;
    letter-spacing: .1rem;
} */
.skills-flex-container{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: center;
    
}
.skill-container{
    margin: .3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

.skill-icon-img{
    width: 4rem;
    height: auto;
    margin: .3rem;
}
.skill-icon-name{
    margin: .3rem;
    font-size: 1rem;
    letter-spacing: .1rem;
    font-weight: bold;
}
.skill-icon-container{
    width: 10rem;
    height: 10rem;
    border: 1px solid #3f3d3f2c;
    background-color: #a681c9;
    margin-bottom: 2rem;
    display: flex;
    transform: rotate(45deg);
}

.skill-icon-container i{
    color:#ffffff;
    font-size: 5rem;
    margin: auto;
    transform: rotate(-45deg);
}

/* projects */
.has-margin-right{
    margin-right: 5rem;
}

.langcontainer{
    margin-top: 10rem;
}

.projects .container{
    margin-top: 20rem;
}

.project-item{

    margin-top: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    overflow-x: hidden
}

.tech-used img{
    width: 3rem;
    margin: 1rem;
}

.tech-used p{
    margin-top: 2rem;
   font-weight: bold; 
}

.project-item:last-child{
    margin-bottom:0;
}

.project-img{
    width: auto;
    flex: 2;
}

.logoproject{
    flex: .4;
}
.project-img video{
    width: 100%;
    height:auto;
    flex: 2;
}

.project-description{
    flex: 1;
    
}

.project-description h1{
    font-size: 3rem;
    font-weight: 300;
    margin: rem 0;
    
  
  
}
.project-description h6{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
}

.project-description p{
    align-items: center;
    word-break: break-all;
    white-space: normal;
}
.project-description .cta{
     display: inline-block;
     margin-top: 2.5rem;
     font-size: 1.5rem;
     text-transform: uppercase;
     color: #3883ff;
     transition:  color 650ms;
}

.project-description .cta:hover{
    color: #2f67cd;
}


/* contact */

.contact .container{
    margin-top: 20rem;
    margin-bottom: 10rem;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.contact i{
    font-size: 6rem;
    color: #3f3d3f;
    /* margin-left: 1rem;
    margin-right: 1rem; */
}
.contact i:hover{
    color: #835b9e;
}

.social-list{
    margin-top: 3rem;
    

    list-style: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright{
    
    width: 100%;
    text-align: center;
    background-color: #161616;
    padding: 2rem 0;
    position: relative;
}
.copyright p{
    color: white;
}

.up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top:-2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.up i{
    color: #000000;
    font-size: 2rem;
    margin: auto;

}

.copyright p{
    font-size: 1.4rem;
}

@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(184, 142, 223, 0.09);
    }
    50%{
        box-shadow: 0 0 0 2rem rgba(184, 142, 223, 0.4);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(184, 142, 223, 0.03);
    }
}
@media screen and (max-width: 1200px){
    .scrolldown{
        top:99%;
    }
    
}
@media screen and (max-width: 1024px){
    
    .nav-link{
        font-size: 8rem;
        padding:1rem;
    }
    
}

@media screen and (max-width: 768px){
    body{
        width: 100%;
        background-color: #ffffff;
        background-size: cover;
    }
    .has-margin-right{
        margin-right: 5rem;
    }
    .landing-text h1{
        font-size: 6rem;
    }
    .landing-text h6{
        font-size: 2rem;
    }
   
    
    li{
        margin: 2rem 8;;
    }
    .nav-link{
        font-size: 4.5rem;
    }
    .section-heading h1{
        font-size: 6.7rem;
        background: linear-gradient(to top, #b4a1c7, #0000001e);
    }
    .about-details .nav-list{
        flex-direction: initial;
    }
    .about-details li{
        margin: 0 2rem;
    }

    .icon-container{
        width:7rem;
        height: 7rem;
    }
    .icon-container i{
        font-size: 4rem;
    }
    .contact i{
        font-size: 4rem;
        color: #3f3d3f;
        /* margin-left: 1rem;
        margin-right: 1rem; */
    }
    .ice-mountains{
        
        width: 200%;
    }

}

@media screen and (max-width: 600px){
    .menu-toggler{
        top:2rem;
        right:2rem;

    }
    p{
        font-size: 1.6rem;
        font-weight: 300;
    }
    .section-heading h1{
        font-size: 5rem;
        color: rgba(99, 95, 104, 0.795);
    }

    .landing-text h1{
        font-size: 4rem;
    }
    .landing-text h6{
        font-size: 2rem;
    }
    .nav-link{
        font-size: 3.5rem;
    }
    .about .container{
        margin-top: 5rem;
        flex-direction:column;
    }
    .my-skills{
        margin-top: 10rem;
        display: grid;
        grid-template-columns:  repeat(auto-fit, minmax(20rem, 1fr));
        grid-gap: 2.5rem;
        text-align: center;
    }
    .project-img{
        order: 1;
        margin: 0 0 2em 0;
    }
    .project-item{
        
        flex-direction: column;
    }
    .project-description{
        order: 2;
        margin: 0;
    }
    .up{
        position: absolute;
        width: 5rem;
        height: 5rem;
        background-color: #eee;
        top:-2.5rem;
        right: 1.5rem;
        border-radius: 100%;
        display: flex;
        animation: pulse 2s infinite;
        cursor: pointer;
    }

    .contact i{
        font-size: 3rem;
        color: #3f3d3f;
        /* margin-left: 1rem;
        margin-right: 1rem; */
    }

}